.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}
.grid-image-container {
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}
.image {
    object-fit: cover;
}
